{% trans_default_domain('phone_field') %}


{% block field_pack_phone_label %}

    <div class="form-label d-flex gap-1 align-items-center">

        {% if form.vars.help %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16" height="16"
                 fill="currentColor"
                 class="text-muted" viewBox="0 0 16 16"
                 role="tooltip"
                 data-bs-toggle="tooltip"
                 data-bs-placement="right"
                 data-bs-original-title="{{ form.vars.help }}"
            >
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg>
        {% endif %}

        <label class="{{ form.vars.required ? ' required' }}" for="{{ form.vars.id }}">
            {{ form.vars.label ?: 'label'|trans }}

            {% if form.vars.required %}
                <span class="text-danger">*</span>
            {% endif %}
        </label>
    </div>

{% endblock %}

{% block field_pack_phone_widget %}

    <div class="input-group">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-telephone"
                     viewBox="0 0 16 16">
                  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                </svg>
            </span>
        {{ form_widget(form) }}
    </div>

    <script nonce='{{ csp_nonce() }}' async data-src="/assets/{{ version }}/js/inputmask.min.js?v={{ version }}"
            class="lazy"></script>

{% endblock %}

{% block field_pack_phone_help %}{% endblock %}